<div class="rankings-container">
    <!-- Background Art -->
  
    <div class="content-wrapper">
      <!-- Main Content -->
      <mat-card class="rankings-card">
        <mat-card-header>
          <mat-card-title class="main-title">MPL LEADERBOARD (Team Contribution :- <span style="color: goldenrod;">{{totalTeamContirbution}}</span>)</mat-card-title>
        </mat-card-header>
  
        <!-- Featured Player Card -->
        <div *ngFor="let userDetail of userDetails;let i=index">
        <mat-card class="featured-player-card">
          <div class="featured-player-content">
            <div class="rank-number">{{i + 1}}</div>
            <div class="player-info">
              <h2 class="player-name">{{userDetail?.userName}}</h2>
              <div class="team-rating">
                <span class="team">Total Points : </span>
                <span class="rating">{{userDetail?.totalPoints}}</span>
              </div>
              <div class="team-rating">
                <span class="team">Wining Rate : </span>
                <span class="rating">{{userDetail?.winingPercentage}}</span>
              </div>
            </div>
          </div>
        </mat-card>
        </div>
        </mat-card>
    </div>
  </div>