<div class="rankings-container">
  <!-- Background Art -->

  <div class="content-wrapper">
      <!-- Main Content -->
      <mat-card class="featured-player-card">
        <div class="featured-player-content">
          <mat-card-content>
              <mat-button-toggle-group [(ngModel)]="selectedOption" appearance="standard" class="toggle-group">
                  <mat-button-toggle [value]="matchDetails?.team1" class="toggle-btn">{{matchDetails?.team1}}</mat-button-toggle>
                  <mat-button-toggle [value]="matchDetails?.team2" class="toggle-btn">{{matchDetails?.team2}}</mat-button-toggle>
              </mat-button-toggle-group>
              
              <mat-card-actions style="justify-content: center;display:flex;padding-bottom:5px;padding-top:10px">
                <button (click)="closeDialog()" [disabled]="!selectedOption" mat-button style="color: aliceblue;" class="vote-button">Vote Now</button>
              </mat-card-actions>

              <div style="justify-content: center;display:flex;padding-top:10px">
                <p *ngIf="selectedOption">You selected: <strong>{{ selectedOption }}</strong></p>
              </div>
          </mat-card-content>
        </div>
      </mat-card>
  </div>
</div>  
