<div class="about-container">
    <mat-card class="about-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>school</mat-icon>
        </div>
        <mat-card-title>About This Project</mat-card-title>
        <mat-card-subtitle>Learning and Fun Combined</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="highlight-text">
          Welcome to our MPL Platform!
        </p>
        <p>
          This project is developed purely for educational purposes, combining the excitement of learning with the joy of exploration. Here's what you need to know:
        </p>
        <ul>
          <li><mat-icon>attach_money</mat-icon> No real money is involved</li>
          <li><mat-icon>school</mat-icon> Designed for learning and skill development</li>
          <li><mat-icon>sentiment_very_satisfied</mat-icon> Created just for fun and Learning enrichment</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  
  