:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.auth-card {
  background-color: #0f061e;
  color: white;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-card-title {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-label {
  color: white;
}

input.mat-input-element {
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button[mat-raised-button] {
  width: 100%;
  margin-top: 20px;
  background-color: #3f51b5;
  color: white;
}

button[mat-button] {
  width: 100%;
  margin-top: 10px;
  color: #3f51b5;
}

.main-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color:darkgoldenrod;
}

@media (max-width: 480px) {
  .main-title {
    font-size: 1.25rem !important;
  }
}

.submitButton:disabled {
  opacity: 0.5;  /* Makes it look faded */
  cursor: not-allowed; /* Shows "not-allowed" cursor */
  border-color: gray; /* Change border color to indicate disabled */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.1);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: rgba(255, 255, 255, 0.5);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}

