  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0f061e !important;
  }
    
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensures the full viewport height */
  }

  .spacer {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
  
  .sidenav-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px); /* Adjust 56px to match your navbar height */
    overflow: hidden;
}
  
  .sidenav {
    width: 250px;
    background-color: #0f061e !important;
  }
  
  .main-content {
    flex-grow: 1;
    overflow: auto;
}