<app-navbar></app-navbar>
<div style="justify-content: center;display:flex">
    <h2>Who win todays match</h2>
</div>

<div *ngIf="matchResponseList?.length && matchResponseList.length > 0" class="card-container">
    <mat-card class="ipl-card">
    <!-- <img mat-card-image  alt="IPL Match"> -->
    <mat-card-content>
        <h2>🔥 {{matchResponseList[0]?.team1 + '/' + matchResponseList[0]?.team2}}</h2>
    </mat-card-content>
    <mat-card-content>
        <mat-button-toggle-group [(ngModel)]="selectedOption1" appearance="standard" class="toggle-group">
            <mat-button-toggle [value]="matchResponseList[0]?.team1" class="toggle-btn">{{matchResponseList[0]?.team1}}</mat-button-toggle>
            <mat-button-toggle [value]="matchResponseList[0]?.team2" class="toggle-btn">{{matchResponseList[0]?.team2}}</mat-button-toggle>
            <mat-button-toggle value="Cancelled" class="toggle-btn">Match cancelled</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-card-content>
            <p>Select bet value (Default is 25)</p>
          </mat-card-content>
          <mat-radio-group [(ngModel)]="selectedRadioValue" class="radio-group">
            <mat-radio-button *ngFor="let option of options" [value]="option">{{ option }}</mat-radio-button>
          </mat-radio-group>
        
          <button mat-button color="primary" (click)="updateResult(matchResponseList[0],selectedOption1)" [disabled]="!selectedOption1">
            Updated Match Status
          </button>
        
          <p *ngIf="selectedOption1">You have selected : <strong>{{ selectedOption1 }}</strong></p>
    </mat-card-content>
    </mat-card>

    <mat-card *ngIf="matchResponseList?.length && matchResponseList.length > 1" class="ipl-card">
    <!-- <img mat-card-image src="assets/ipl2.jpg" alt="IPL Teams"> -->
    <mat-card-content>
        <h2>🏏 {{matchResponseList[1]?.team1 + '/' + matchResponseList[1]?.team2}}</h2>
    </mat-card-content>
    <mat-card-content>
        <mat-button-toggle-group [(ngModel)]="selectedOption2" appearance="standard" class="toggle-group">
            <mat-button-toggle [value]="matchResponseList[1]?.team1" class="toggle-btn">{{matchResponseList[1]?.team1}}</mat-button-toggle>
            <mat-button-toggle [value]="matchResponseList[1]?.team2" class="toggle-btn">{{matchResponseList[1]?.team2}}</mat-button-toggle>
            <mat-button-toggle value="Cancelled" class="toggle-btn">Match cancelled</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-card-content>
            <p>Select bet value (Default is 25)</p>
          </mat-card-content>
          <mat-radio-group [(ngModel)]="selectedRadioValue" class="radio-group">
            <mat-radio-button *ngFor="let option of options" [value]="option">{{ option }}</mat-radio-button>
          </mat-radio-group>
        
          <button mat-button color="primary" (click)="updateResult(matchResponseList[1],selectedOption2)" [disabled]="!selectedOption2">
            Updated Match Status
          </button>
        
          <p *ngIf="selectedOption2">You have selected : <strong>{{ selectedOption2 }}</strong></p>
    </mat-card-content>
    </mat-card>
</div>
