<mat-toolbar class="navbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <span class="logo" style="color: white;font-weight:bold;cursor:pointer" routerLink="/landing-page">🏏 MPL Dashboard</span>
    <span class="spacer"></span>
    <nav class="nav-links">
      <a class="logo" style="color: white;font-weight:bold" mat-button routerLink="/leaderboard">LeaderBoard</a>
      <a class="logo" style="color: white;font-weight:bold" mat-button *ngIf="this.userRole === 'Admin'" routerLink="/admin">Admin</a>
      <a class="logo" style="color: white;font-weight:bold" mat-button (click)="logoutFromSystem()">Logout</a>
    </nav>
</mat-toolbar>


  